.header {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

  
}
/*Отступы слева и сверху для логотипа*/
.image_logo{
    margin-left: 10px;
    margin-top: 10px;
}

.to-flex {
    display: flex;
    border: 1px solid white;

    /*align-items:center;
    justify-content:left; */
}

.not-bulit {
    list-style: none;
    
}

.padding-r li {

    border-right: 10px solid transparent;
    float: left;
    align-items: flex-start;
    justify-content: space-around;
}



body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400px;
}



/*Убирам подчёркивания в ссылка*/
a {
    text-decoration: none;
}

/* Восстанавливаем подчёркивания локально*/
.decor_text {
    text-decoration-line: underline;
}
/*Текст по центру*/
.text-center{
    text-align: center;
}
/*Текст слева*/
.text-left{
    text-align: left;
}


/*Горизонтальный блок на весь экран*/
.main-block {
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 1px;
    /*border: 1px solid white;*/
}

/*Создаём слева  блок*/
.left-box {
    margin: 1;
    padding: 1;
    width: 25%;
    text-align:left;
}

/*Создаём основной по центру блок*/
.center-box {
    width: 75%;
    margin: 1;
    padding: 1;
   
}

/*Создаём блок с права*/
.right-box {
    width: 15%;
    margin: 1;
    padding: 1;
    
    text-align: right;
}

/*блок по центру*/
.center-gallery{
    display: flex;
    justify-content:center;
}

