.corner-box-1 {
    display: inline-block;
    /*width: 60%;*/
    position: relative;
    border: 2px solid #414B57;
    transition: all .3s ease;
    margin: 10px;
    box-shadow: 10px 10px black;
    background: #303946;
   
}
.corner-box-1:before, 
.corner-box-1:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    background: #303946;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.corner-box-1:before {
    width: calc(100% + 4px);
    height: 80%;
    transition: height 0.6s;
    
}
.corner-box-1:after {
    height: calc(100% + 4px);
    width: 90%;
    transition: width 0.6s;
}
.corner-box-1:hover:before, 
.corner-box-1:focus:before {
    height: 50%;

}
.corner-box-1:hover:after, 
.corner-box-1:focus:after {
    width: 75%;
    
}
.corner-textbox-1 {
    padding: 5px;   /*30 px*/
    z-index: 2;
    position: relative;
    text-align: center;
    background: #303946;
}